<h1>ユーザー詳細</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<h4><%= @user.name %></h4>
<p><%= @user.introduction %></p>
<% if @user.id == current_user.id %>
	<%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
<% end %>

<h2>記事一覧</h2>
<% @posts.each do |post| %>
	<%= @user.name %><br>
  <%= link_to post_path(post) do %>
	<%= attachment_image_tag post, :image, :fill, 400, 300, format: 'jpeg' %>
  <% end %>
	<h4><%= post.title %></h4>
	<p><%= post.body %></p>
<% end %>
